body {
    background-color: rgb(230,230,250);
}
.topcol{ 
    background-color: rgb(100,41,117) ;
    color: white;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.paras{
    color:white;
    font-size: medium;
}
.bottomCol{
    font-size:small;
}
.bottomTopheadings{
    font-size:medium;
}
.bottomTopdata{
    font-size:small;
}
.finalamountcol{
    background-color: rgb(199, 189, 206);
    color:black;
}
